<div class="container py-3 mx-auto">
    <div *ngIf="isLoading" class="text-center">
        <i class="fas fa-spinner fa-spin"></i>
        <span class="sr-only">Loading...</span>
    </div>

    <h1 class="text-center">Liste des 23 joueurs</h1>
    <div *ngIf= "displayAddButton"  >
      <div class="d-grid gap-2 col-4 mx-auto">
        <a [routerLink]="['/add-joueur']" class="nav-link active btn my-3 btn-success">Ajouter un joueur  <i class="fas fa-plus"></i></a>
      </div>
    </div>
    <div class="row">
      <div *ngFor= "let joueur of joueurs" style="width: 18rem" class="col-4 card m-4 p-0" >
        <picture>

          <img src="{{joueur.image}}" class="card-img-top" alt="{{joueur.nom}}">
        </picture>
          <div class="card-body">
            <h5 class="card-title">{{joueur.nom}} {{joueur.prenom}}</h5>
            <p class="card-text">Poste : {{joueur.poste}}</p>
            <a [routerLink]="['/joueur', joueur.id]" class="btn btn-primary">voir sa fiche détaillée</a>
          </div>
        </div>
    </div>

      

</div>
