<div class="container mx-auto py-3">
    <h1 class="text-center">Formulaire d'ajout de joueur</h1>
<form #validationFormJoueur="ngForm" (ngSubmit)="joueurSubmit()" class="bg-white opacity shadow-lg rounded p-4 m-4">
    <div class="form-group">
        <label for="titre">Nom du joueur</label>
        <input class="form-control mt-1" type="text" #validationNom="ngModel" required name="nom" [(ngModel)]="joueurFormulaire.nom">
        <div class="alert alert-danger" [hidden]="validationNom.valid">Ce champs n'est pas valide</div>
    </div>
    <div class="form-group">
        <label for="description">Prénom du joueur</label>
        <input type="text" class="form-control mt-1" #validationPrenom="ngModel" required name="prenom" [(ngModel)]="joueurFormulaire.prenom">
        <div class="alert alert-danger" [hidden]="validationPrenom.valid">Ce champs n'est pas valide</div>
    </div>
    <div class="form-group">
        <label for="image">Photo du joueur</label>
        <input class="form-control mt-1" #validationImage="ngModel" required name="image" [(ngModel)]="joueurFormulaire.image">
        <div class="alert alert-danger" [hidden]="validationImage.valid">Ce champs n'est pas valide</div>
    </div>
    <div class="form-group">
        <label for="describe">Description du joueur</label>
        <textarea required class="form-control mt-1" #validationDescription="ngModel" [(ngModel)]="joueurFormulaire.description" name="describe" id="describe" cols="30" rows="3"></textarea>
        <div class="alert alert-danger" [hidden]="validationDescription.valid">Ce champs n'est pas valide</div>
    </div>
    <div class="form-group">
        <label for="">Poste</label>
        <select class="form-control mt-1" required name="poste" #validationPoste="ngModel" [(ngModel)]="joueurFormulaire.poste">
            <option [value]="undefined">Veuillez selectionnez le poste</option>
            <option *ngFor="let poste of joueurPoste" [ngValue]="poste">{{poste}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="validationPoste.valid">Ce champs n'est pas valide</div>
    </div>
    
    <input [disabled]="!validationFormJoueur.valid" type="submit" value="Envoyer" class="btn btn-success">
  </form>
</div>
