<div *ngIf=" joueur" class="container py-5">
    <h1 class="text-center"> {{joueur.prenom}} {{joueur.nom}}</h1>

    <article  class="bg-white p-5 mb-5 row justify-content-around">
        <img class="img-thumnail col-4 " width = "400px" src="{{joueur.image}} ">
        <div class="col-6">

            <p>Poste: {{joueur.poste}} </p>
            <p>Description: {{joueur.description}} </p>
            <div class="align-bottom">

            </div>
            <button *ngIf="joueur.id" (click)="delete(joueur.id)" class="btn btn-outline-danger ms-2" >Supprimer de la liste <i class="far fa-trash-alt"></i></button>
        </div>
    
    </article>
</div>

