* {
  margin: 0;
  padding: 0;
}
/* ************************* Generale ****************************** */
h1,
h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px red;
  font-family: "poppins", sans-serif;
}
h1 {
  font-size: 2em;
  margin: 20px 0;
}
h2 {
  font-size: 1.3em;
}
/* ********************* formulaire de validation ***************** */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
#bg-container {
  background-image: url(assets/images/fff.jpeg);
  background-position: center;
}
